{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<main class="container">
  <div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
      <h1 class="text-center">Cambiar Contraseña</h1>
      <form action="{% url 'cambiar_contrasena' %}" method="POST" class="card card-body">
        {% csrf_token %}
        

        <div class="mb-3">
          <label for="username">Nombre de Usuario</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-regular fa-user"></i>
            </span>
          <input type="text" name="username" id="username" class="form-control" placeholder="Ingresa tu nombre de usuario" required>
        </div>
      </div>

        <div class="mb-3">
          <label for="email">Correo Electrónico</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-envelope"></i>
            </span>
          <input type="email" name="email" id="email" class="form-control" placeholder="Ingresa tu correo electrónico" required>
        </div>
        </div>

        <div class="mb-3">
          <label for="new_password">Nueva Contraseña</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-unlock-keyhole"></i>
            </span>
          <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Ingresa tu nueva contraseña" required>
        </div>

        </div>

        <div class="mb-3">
          <label for="confirm_password">Confirmar Contraseña</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-unlock-keyhole"></i>
            </span>
          <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirma tu nueva contraseña" required>
        </div>

        </div>
        

        <div class="mb-3">
          <div class="g-recaptcha" data-sitekey="6LfniYcqAAAAAGRlfWy6M6lLVNJi4Tef49MBeBpE"></div>
        </div>



        <button type="submit" class="btn btn-primary w-100">Cambiar Contraseña</button>
      </form>
    </section>
  </div>
</main>
{% endblock %}
